accelerate
albumentations
awscli
bash_kernel
beautifulsoup4
boto3
boxsdk
codetiming
cython
datasets
django
einops
gcsfs
# gensim
gitpython
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-logging
google-cloud-secret-manager
google-cloud-storage
google-cloud-vision
holoviews
huggingface-hub
hydra-core
imagehash
ipywidgets
janome
julia
jupyterlab
librosa
lightning
matplotlib
memory-profiler
nltk
# nuscenes-devkit
opencv-python
openpyxl
pandas
pandas-gbq
peft
plotly
psd-tools
pydub
pytd
python-pptx
s3fs
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
sentencepiece
sip
soundfile
spacy
statsmodels
sympy
tables
tabulate
# tensorboard
tensorboardx
tensordict
# tensorflow
# tensorflow-hub
# tensorflow-probability
timeout-decorator
timm
tokenizers
wandb
xformers
xlrd
xlsxwriter

# Install PyTorch packages separately for your CUDA/CPU environment.
# torch
# torchaudio
# torchinfo
# torchmetrics
# torchtext
# torchvision
# torch-tb-profiler
# transformers
# vllm
